@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9919 0.0175 99.5961);
  --foreground: oklch(0.0917 0.0003 247.5391);
  --card: oklch(0.9919 0.0175 99.5961);
  --card-foreground: oklch(0.0917 0.0003 247.5391);
  --popover: oklch(0.9919 0.0175 99.5961);
  --popover-foreground: oklch(0.0917 0.0003 247.5391);
  --primary: oklch(0.6323 0.1412 160.8015);
  --primary-foreground: oklch(0.9919 0.0175 99.5961);
  --secondary: oklch(0.9619 0 0);
  --secondary-foreground: oklch(0.0917 0.0003 247.5391);
  --muted: oklch(0.9619 0 0);
  --muted-foreground: oklch(0.5091 0.0041 247.9058);
  --accent: oklch(0.9234 0 0);
  --accent-foreground: oklch(0.0917 0.0003 247.5391);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9919 0.0175 99.5961);
  --border: oklch(0.8845 0 0);
  --input: oklch(0.9619 0 0);
  --ring: oklch(0.6323 0.1412 160.8015);
  --chart-1: oklch(0.6323 0.1412 160.8015);
  --chart-2: oklch(0.7218 0.1129 233.1408);
  --chart-3: oklch(0.9 0.1739 96.8561);
  --chart-4: oklch(0.7452 0.1853 327.2351);
  --chart-5: oklch(0.7373 0.1287 32.2817);
  --sidebar: oklch(0.6323 0.1412 160.8015);
  --sidebar-foreground: oklch(0.9919 0.0175 99.5961);
  --sidebar-primary: oklch(0.9919 0.0175 99.5961);
  --sidebar-primary-foreground: oklch(0.6323 0.1412 160.8015);
  --sidebar-accent: oklch(0.5586 0.1241 161.1363);
  --sidebar-accent-foreground: oklch(0.9919 0.0175 99.5961);
  --sidebar-border: oklch(0.7459 0.1634 161.5183);
  --sidebar-ring: oklch(0.9919 0.0175 99.5961);
  --font-sans: Rethink Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(210, 2%, 1%);
  --shadow-2xs: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.04);
  --shadow-xs: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.04);
  --shadow-sm: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.08),
    0rem 1px 2px -1.125px hsl(210 2% 1% / 0.08);
  --shadow: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.08),
    0rem 1px 2px -1.125px hsl(210 2% 1% / 0.08);
  --shadow-md: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.08),
    0rem 2px 4px -1.125px hsl(210 2% 1% / 0.08);
  --shadow-lg: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.08),
    0rem 4px 6px -1.125px hsl(210 2% 1% / 0.08);
  --shadow-xl: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.08),
    0rem 8px 10px -1.125px hsl(210 2% 1% / 0.08);
  --shadow-2xl: 0rem 0.25rem 0.5rem -0.125rem hsl(210 2% 1% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1287 0.004 285.8299);
  --foreground: oklch(0.9603 0.0017 286.368);
  --card: oklch(0.1287 0.004 285.8299);
  --card-foreground: oklch(0.9603 0.0017 286.368);
  --popover: oklch(0.1287 0.004 285.8299);
  --popover-foreground: oklch(0.9603 0.0017 286.368);
  --primary: oklch(0.6323 0.1412 160.8015);
  --primary-foreground: oklch(0.9588 0.0034 286.3357);
  --secondary: oklch(0.257 0.0143 285.3525);
  --secondary-foreground: oklch(0.9603 0.0017 286.368);
  --muted: oklch(0.257 0.0143 285.3525);
  --muted-foreground: oklch(0.6695 0.0149 285.9904);
  --accent: oklch(0.305 0.0182 285.2681);
  --accent-foreground: oklch(0.9603 0.0017 286.368);
  --destructive: oklch(0.5594 0.19 25.8625);
  --destructive-foreground: oklch(0.1287 0.004 285.8299);
  --border: oklch(0.3512 0.022 285.2107);
  --input: oklch(0.257 0.0143 285.3525);
  --ring: oklch(0.6323 0.1412 160.8015);
  --chart-1: oklch(0.6323 0.1412 160.8015);
  --chart-2: oklch(0.7218 0.1129 233.1408);
  --chart-3: oklch(0.9 0.1739 96.8561);
  --chart-4: oklch(0.7452 0.1853 327.2351);
  --chart-5: oklch(0.7373 0.1287 32.2817);
  --sidebar: oklch(0.6323 0.1412 160.8015);
  --sidebar-foreground: oklch(0.9603 0.0017 286.368);
  --sidebar-primary: oklch(0.9603 0.0017 286.368);
  --sidebar-primary-foreground: oklch(0.6323 0.1412 160.8015);
  --sidebar-accent: oklch(0.5586 0.1241 161.1363);
  --sidebar-accent-foreground: oklch(0.9603 0.0017 286.368);
  --sidebar-border: oklch(0.7459 0.1634 161.5183);
  --sidebar-ring: oklch(0.9603 0.0017 286.368);
  --font-sans: Rethink Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.125rem;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 5%);
  --shadow-2xs: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.2);
  --shadow-xs: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.2);
  --shadow-sm: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.4),
    0rem 1px 2px -1.125px hsl(0 0% 5% / 0.4);
  --shadow: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.4),
    0rem 1px 2px -1.125px hsl(0 0% 5% / 0.4);
  --shadow-md: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.4),
    0rem 2px 4px -1.125px hsl(0 0% 5% / 0.4);
  --shadow-lg: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.4),
    0rem 4px 6px -1.125px hsl(0 0% 5% / 0.4);
  --shadow-xl: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 0.4),
    0rem 8px 10px -1.125px hsl(0 0% 5% / 0.4);
  --shadow-2xl: 0rem 0.25rem 0.5rem -0.125rem hsl(0 0% 5% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
